body {
    background-color: #f6f5f3;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bordered {
    border: 1px solid black;
    width: 20px;
    height: 14px;
    margin-right: 3px;
}

.small-icon {
    width: 30px;
    height: 30px;
}

.td-center {
    text-align: center;
}

.td-right {
    text-align: right;
}