<Configuration
        strict="true"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://git-wip-us.apache.org/repos/asf?p=logging-log4j2.git;a=blob_plain;f=log4j-core/src/main/resources/Log4j-config.xsd"
        xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="filename">logs/log.txt</Property>
        <Property name="defaultPattern">%d{HH:mm:ss} [%-4level] [%t] %c{5} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Appender type="console" name="consolePattern0">
            <Layout
                    type="PatternLayout"
                    pattern="${defaultPattern}" />
        </Appender>
        <Appender type="console" name="console" >
            <Layout
                    type="PatternLayout"
                    pattern="${defaultPattern}" />
        </Appender>
        <Appender type="File" name="file" fileName="${filename}">
            <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%-5level] [%t] %c{1} - %m%n" />
        </Appender>
    </Appenders>
    <Loggers>
        <Logger name="Logger" level="trace" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Logger>
        <Root level="trace">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>